body {
	background-color: white;
	margin: 30px; 
	font-family: Helvetica, Arial, sans-serif;
	font-size: 20px;
	line-height: 30px;
}

header{
	background-color: #FFC2B7;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
}
header img{
	border-radius: 180px;
	width: 300px;
	border: 10px solid #92AAAE;
}
#photo{
	width: 250px;
	display: inline-block;
    border-radius: 50%;
    width: 250px;
	height: 200px;
	border: 1px solid #186673;

}

header h1{
	color: #186673;
	font-size: 50px;
	 }

#menu li.sub ul {
	list-style: none;
	position: absolute;
	top: -1000em;
	left: 0px;
}
		
#menu li.sub ul li a {
	display: inline;
}
		
#menu > li.sub:hover ul {
	top: 3em;
}
		
#menu{
	text-align:left;
}
		
li{
	display:inline-block;
}

nav{
	color: #FB7880;

}


#article{ 
	margin-left: 50px;


}

#subs{
	margin: 10px;
}

footer{
	background-color: #FFC2B7;

	padding: 50px;

}